/* setting font-family */
@font-face { font-family: inter; src: url("../fonts/Inter-Regular.ttf"); font-weight: normal; } 
@font-face { font-family: inter; src: url("../fonts/Inter-Bold.ttf"); font-weight: bold; } 
@font-face { font-family: inter; src: url("../fonts/Inter-Light.ttf"); font-weight: 300; } 
@font-face { font-family: inter; src: url("../fonts/Inter-Thin.ttf"); font-weight: 100; } 